.top-players-div {
    width: 800px;
    max-height: 800px;
    padding:30px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba($color: #000000, $alpha: 0.8);
    margin-top:  30px;
    text-align: center;
    z-index: 2;
    font-family: 'Skranji', cursive;
    color: white;
    border-radius: 24px;
    
    
}
.div-score{
    font-size: 18px;
}
.top-players:hover{
    color: goldenrod;

}
.top-players1:hover{
    color: #b17c4b;

}
.line{
    background-color: #b17c4b;
}
.top{
    width: 740px;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

 