.slide-container {
  width: 70%;
  margin: auto; }

h3 {
  text-align: center; }

.react-slideshow-fade-images-wrap > div {
  z-index: -1 !important;
}
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
  position: fixed;
  top: 0; 
  left: 0; 
  opacity:0.9;
	width:100%;
	height:100%;
	z-index:-1;
  background-size:cover;

  
 
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed
}

