Footer{
   position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: 'Skranji', cursive;
   
}
 
.logo {color:goldenrod;
   font-weight: bold;
   
}

.heart {
     color: red;
 }